.link {list-style-type: none; margin-left: 1em; padding: 0; width: 50em;}
	.link a:hover {color: #369; background-color: red; left: .2em;}

.header {
    background-color:darkred;
    color:white;
    text-align:center;
    padding:-5px;
}	
