<img src="app/logo.png" usemap="#JEMAP" style="width:249px;height:68px;" >
<map name="JEMAP">
  <area shape="rect" coords="0,0,249,68"  href="/">
</map>
<div class="header">
	<h1>Homepage</h1>
</div>	
<nav class="link">
	<ul>
	  <a [routerLink]="['Debts']">Debts</a>
	  <a [routerLink]="['OrderHistory']"> Order History</a>
	</ul>  
</nav>
<router-outlet></router-outlet>
