<h1>My Mates</h1>
<div class="people">
    <li *ngFor="#profile of profiles" [class.selected]="profile===selectedProfile" (click)="onSelect(profile)">
	    <span class="badge"> <ul>{{profile.name}} owes you - £{{profile.owes}}</ul> </span>
    </li>

    <div *ngFor="#profile of profiles">
    	<div *ngIf="profile==selectedProfile">
	    	<div>How much has  {{selectedProfile.name}} paid back? </div>
			<div><input #box ></div>
			<button (click)="reduce(selectedProfile, box.value); box.value='' ">Update</button>
		</div>	
    </div>
</div>