.people {
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.people li {
  cursor: pointer;
  position: relative;
  background-color: #FF0000;
  left: 0;
  color: white;
  transition: all 0.2s ease;
}

.people li:hover {
  color: #369;
  background-color: #FF00FF;
  left: .2em;
}

.people .badge {
  font-size: large;
  color: white;
  background-color: #FF00FF;
  line-height: 1em;
  position: relative;
  left: 1px;
  top:  1px;
}

.people .selected {
  background-color: #FF00FF;
  color: #000000;
}