.order {
  list-style-type: none; 
  margin-left: 1em; 
  padding: 0; 
  width: 20em;
}   
.order li { 
  cursor: pointer; 
  position: relative; 
  left: 0; 
  transition: all 0.2s ease;
}

.order li:hover {
  color: #369; 
  background-color: #EEE; 
  left: .2em;
}
.order .badge {
  font-size: small;
  color: black;
  background-color: #369;
  line-height: 1em;
  position: relative;
  left: 1px;
  top:  1px;
}
.selected { 
  color: #369; 
  background-color: #EEE;  
}