<header> Previous Orders</header>

<div class="order">
	<li *ngFor="#order of history" (click)="onSelect(order)" [class.selected]="order===selectedOrder">  
		<h3>{{order.restaurant}}</h3> 
		{{getDate(order)}}
	</li>
</div>