<ul class="people">
  <li *ngFor="#profile of profiles">
    <span class="badge"> <ul>{{profile.name}}</ul> </span>
  </li>
</ul>
<div>
  <input [(ngModel)]="new_profile" placeholder="name">
</div>
<div>
  <button type="button" (click)=addProfile(new_profile)>Add profile</button>
</div>
