<h3>{{order.restaurant}}</h3>
{{getDate(order)}}

<div *ngFor="#item of order.items" (click)="selectedItem = item">
        <h3>{{item.title}} £{{item.price}}</h3>
        <li *ngFor="#id of item.profiles">
            {{_profileService.getProfile(id).name}}
        </li>
        <div *ngIf="item === selectedItem">
            <button *ngFor="#profile of profiles" (click)="toggleProfile(selectedItem,profile)">{{profile.name}}</button>
            <button *ngIf="!enteringNew" (click)="enterNewProfile()">New Profile</button>
            <input #box *ngIf="enteringNew"
                        (keyup.enter)="submitNewProfile(box.value); box.value=''"
                        (blur)="submitNewProfile(box.value)">
        </div>
</div>